<h1>Welcome <%= current_user.username %>!</h1>

<b>Your Feed!</b>
<div class="infinite-tweets">
  <ul id="feed">
  </ul>
  <button class="fetch-more">Show More Tweets</button>

  <script class="tweet-template" type="text/template">
    <%% tweets.each(function() {%>
      <li><%%= this.content %> -- <%%= this.created_at %></li>
    <%% }); %>
  </script>
</div>

<%= render "tweets/form" %>

<script>
  $(".infinite-tweets").infiniteTweets();
</script>
