<h2>New Tweet!</h2>
<form class="tweet-compose" data-tweets-ul="#feed" action="/tweets" method="POST">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    Content
    <textarea name="tweet[content]"></textarea>
  </label>
  <br>
  Characters Left: <strong class="chars-left"> 140</strong>
  <br>
  <button class='add-mentioned-user'>Add A Mention</button>
  <br>
  <div class="mentioned-users">

  </div>

  <input class="tweetSubmit" type="Submit" value="Post Tweet!">
</form>

<script>
  $('.tweet-compose').tweetCompose();
</script>

<script class='mention-selector' type="text/template">
  <div class="mention-selector-wrapper">
    <button class="remove-mentioned-user">Remove Mention</button>
    <select name="tweet[mentioned_user_ids][]">
      <option></option>
      <% User.all.each do |user| %>
        <option value="<%= user.id %>"><%= user.username %></option>
      <% end %>
    </select>
  </div>
</script>
