<!-- <% if current_user.follows?(user) %>
  <%= button_to "Unfollow", user_follow_url(user), method: :delete %>
<% else %>
  <%= button_to "Follow", user_follow_url(user), method: :post %>
<% end %> -->

<% if current_user.follows?(user) %>
<%  followStr = "Followed" %>
<% else %>
<%  followStr = "Unfollowed" %>
<% end %>

<button class="follow-toggle" data-user-id="<%= user.id %>" data-initial-follow-state="<%= followStr %>"></button>

<script>
  $(function () {
    $("button.follow-toggle").followToggle();
  });
</script>
